.codeContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.codeContainer h1 {
    color: var(--white);
}

.codeContainer p {
    color: var(--creme);
}

.codeContainer p span {
    color: var(--cyan);
}

.codeImages {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.codeImages section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.codeImages section img {
    box-shadow: 5px 5px 20px var(--darkblue);
    object-position: 0px;
}

#tsimage {
    width: 450px;
    height: 500px;
    object-fit: cover;
}

#rsimage {
    width: 550px;
    height: 100px;
    object-fit: cover;
}

@media only screen and (max-width:1200px) {
    .codeImages {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #rsimage {
        width: 400px;
        height: 80px;
    }

    #tsimage {
        width: 360px;
        height: 500px;
    }

    .codeContainer div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .codeContainer div p {
        width: 90%;
        text-align: justify;
    }
}
